In [27]:
import pandas as pd
import numpy as np

In [28]:
df_flora = pd.read_csv(r"C:\Users\mecoa\Documents\MECOALIZA\OneDrive\DISSERTACAO\Al.csv", encoding='utf-8')
print(df_flora)

           basisofrecord country stateprovince institutioncode collectioncode  \
0      PreservedSpecimen  Brasil       Alagoas              US             US
1      PreservedSpecimen  Brasil       Alagoas              US             US
2      PreservedSpecimen  Brasil       Alagoas           ESALQ            ESA
3      PreservedSpecimen  Brasil       Alagoas           ESALQ            ESA
4      PreservedSpecimen  Brasil       Alagoas           ESALQ            ESA
...                  ...     ...           ...             ...            ...
68329  PreservedSpecimen  Brasil       Alagoas              MN              R
68330  PreservedSpecimen  Brasil       Alagoas              MN              R
68331  PreservedSpecimen  Brasil       Alagoas             USP            SPF
68332  PreservedSpecimen  Brasil       Alagoas             USP            SPF
68333  PreservedSpecimen  Brasil       Alagoas             USP            SPF

      catalognumber  kingdom         phylum  taxonclass  ordem  ...  latitude  \
0        US 1255708  Plantae              0           0      0  ...  0.000000
1        US 3222023  Plantae              0           0      0  ... -9.716700
2            092756  Plantae  Magnoliophyta           0      0  ...  0.000000
3            102654  Plantae              0           0      0  ...  0.000000
4            092750  Plantae  Magnoliophyta           0      0  ...  0.000000
...             ...      ...            ...         ...    ...  ...       ...
68329        109082  Plantae              0           0      0  ...  0.000000
68330        109091  Plantae              0           0      0  ...  0.000000
68331        165107  Plantae              0           0      0  ... -9.248139
68332         81338  Plantae              0           0      0  ... -9.250000
68333         81344  Plantae              0           0      0  ... -9.250000

      coordinateprecision minimumelevation maximumelevation  \
0                       0              0.0              0.0
1                       0            200.0            200.0
2                       0              0.0              0.0
3                       0              0.0              0.0
4                       0              0.0              0.0
...                   ...              ...              ...
68329                   0              0.0              0.0
68330                   0              0.0              0.0
68331                   0            400.0            400.0
68332                   0              0.0              0.0
68333                   0              0.0              0.0

                                                   notes      barcode  \
0                                                      0   US04327705
1                                                      0   US00421008
2                                                      0    ESA092756
3                                                      0    ESA102654
4                                                      0    ESA092750
...                                                  ...          ...
68329                                                  0            0
68330                                                  0            0
68331  Tree, 4 m; leaves subcoriaceous; fruits olive;...  SPF00165107
68332  Tree 3-5 m. Flowers and fruits axillary or cau...  SPF00081338
68333                                                  0  SPF00081344

      depositor  yeardeposited  monthdeposited  daydeposited
0             0              0               0             0
1             0              0               0             0
2             0              0               0             0
3             0              0               0             0
4             0              0               0             0
...         ...            ...             ...           ...
68329         0              0               0             0
68330         0              0               0             0
68331         0              0               0             0
68332         0              0               0             0
68333         0              0               0             0

[68334 rows x 42 columns]

In [29]:
df_flora.columns

Index(['basisofrecord', 'country', 'stateprovince', 'institutioncode',
       'collectioncode', 'catalognumber', 'kingdom', 'phylum', 'taxonclass',
       'ordem', 'family', 'genus', 'species', 'subspecies', 'scientificname',
       'scientificnameauthor', 'typestatus', 'yearcollected', 'monthcollected',
       'daycollected', 'collector', 'collectornumber', 'identifiedby',
       'yearidentified', 'monthidentified', 'dayidentified', 'continentocean',
       'county', 'locality', 'verbatimlatitude', 'verbatimlongitude',
       'longitude', 'latitude', 'coordinateprecision', 'minimumelevation',
       'maximumelevation', 'notes', 'barcode', 'depositor', 'yeardeposited',
       'monthdeposited', 'daydeposited'],
      dtype='object')

In [30]:
print(df_flora["kingdom"].unique())

['Plantae' '0' 'Protista']

In [31]:
df_flora.dtypes

basisofrecord            object
country                  object
stateprovince            object
institutioncode          object
collectioncode           object
catalognumber            object
kingdom                  object
phylum                   object
taxonclass                int64
ordem                     int64
family                   object
genus                    object
species                  object
subspecies               object
scientificname           object
scientificnameauthor     object
typestatus               object
yearcollected             int64
monthcollected            int64
daycollected              int64
collector                object
collectornumber          object
identifiedby             object
yearidentified            int64
monthidentified           int64
dayidentified             int64
continentocean           object
county                   object
locality                 object
verbatimlatitude         object
verbatimlongitude        object
longitude               float64
latitude                float64
coordinateprecision       int64
minimumelevation        float64
maximumelevation        float64
notes                    object
barcode                  object
depositor                 int64
yeardeposited             int64
monthdeposited            int64
daydeposited              int64
dtype: object

* Tirar do campo Kingdom object '0' e 'Protista'

In [32]:
df_flora.query("kingdom != 'Protista'")

,basisofrecord,country,stateprovince,institutioncode,collectioncode,catalognumber,kingdom,phylum,taxonclass,ordem,...,latitude,coordinateprecision,minimumelevation,maximumelevation,notes,barcode,depositor,yeardeposited,monthdeposited,daydeposited
0,PreservedSpecimen,Brasil,Alagoas,US,US,US 1255708,Plantae,0,0,0,...,0.000000,0,0.0,0.0,0,US04327705,0,0,0,0
1,PreservedSpecimen,Brasil,Alagoas,US,US,US 3222023,Plantae,0,0,0,...,-9.716700,0,200.0,200.0,0,US00421008,0,0,0,0
2,PreservedSpecimen,Brasil,Alagoas,ESALQ,ESA,092756,Plantae,Magnoliophyta,0,0,...,0.000000,0,0.0,0.0,0,ESA092756,0,0,0,0
3,PreservedSpecimen,Brasil,Alagoas,ESALQ,ESA,102654,Plantae,0,0,0,...,0.000000,0,0.0,0.0,0,ESA102654,0,0,0,0
4,PreservedSpecimen,Brasil,Alagoas,ESALQ,ESA,092750,Plantae,Magnoliophyta,0,0,...,0.000000,0,0.0,0.0,0,ESA092750,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68329,PreservedSpecimen,Brasil,Alagoas,MN,R,109082,Plantae,0,0,0,...,0.000000,0,0.0,0.0,0,0,0,0,0,0
68330,PreservedSpecimen,Brasil,Alagoas,MN,R,109091,Plantae,0,0,0,...,0.000000,0,0.0,0.0,0,0,0,0,0,0
68331,PreservedSpecimen,Brasil,Alagoas,USP,SPF,165107,Plantae,0,0,0,...,-9.248139,0,400.0,400.0,"Tree, 4 m; leaves subcoriaceous; fruits olive;...",SPF00165107,0,0,0,0
68332,PreservedSpecimen,Brasil,Alagoas,USP,SPF,81338,Plantae,0,0,0,...,-9.250000,0,0.0,0.0,Tree 3-5 m. Flowers and fruits axillary or cau...,SPF00081338,0,0,0,0
68333,PreservedSpecimen,Brasil,Alagoas,USP,SPF,81344,Plantae,0,0,0,...,-9.250000,0,0.0,0.0,0,SPF00081344,0,0,0,0

In [33]:
df_1 = df_flora.query("kingdom != 'Protista'")
df_1

,basisofrecord,country,stateprovince,institutioncode,collectioncode,catalognumber,kingdom,phylum,taxonclass,ordem,...,latitude,coordinateprecision,minimumelevation,maximumelevation,notes,barcode,depositor,yeardeposited,monthdeposited,daydeposited
0,PreservedSpecimen,Brasil,Alagoas,US,US,US 1255708,Plantae,0,0,0,...,0.000000,0,0.0,0.0,0,US04327705,0,0,0,0
1,PreservedSpecimen,Brasil,Alagoas,US,US,US 3222023,Plantae,0,0,0,...,-9.716700,0,200.0,200.0,0,US00421008,0,0,0,0
2,PreservedSpecimen,Brasil,Alagoas,ESALQ,ESA,092756,Plantae,Magnoliophyta,0,0,...,0.000000,0,0.0,0.0,0,ESA092756,0,0,0,0
3,PreservedSpecimen,Brasil,Alagoas,ESALQ,ESA,102654,Plantae,0,0,0,...,0.000000,0,0.0,0.0,0,ESA102654,0,0,0,0
4,PreservedSpecimen,Brasil,Alagoas,ESALQ,ESA,092750,Plantae,Magnoliophyta,0,0,...,0.000000,0,0.0,0.0,0,ESA092750,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68329,PreservedSpecimen,Brasil,Alagoas,MN,R,109082,Plantae,0,0,0,...,0.000000,0,0.0,0.0,0,0,0,0,0,0
68330,PreservedSpecimen,Brasil,Alagoas,MN,R,109091,Plantae,0,0,0,...,0.000000,0,0.0,0.0,0,0,0,0,0,0
68331,PreservedSpecimen,Brasil,Alagoas,USP,SPF,165107,Plantae,0,0,0,...,-9.248139,0,400.0,400.0,"Tree, 4 m; leaves subcoriaceous; fruits olive;...",SPF00165107,0,0,0,0
68332,PreservedSpecimen,Brasil,Alagoas,USP,SPF,81338,Plantae,0,0,0,...,-9.250000,0,0.0,0.0,Tree 3-5 m. Flowers and fruits axillary or cau...,SPF00081338,0,0,0,0
68333,PreservedSpecimen,Brasil,Alagoas,USP,SPF,81344,Plantae,0,0,0,...,-9.250000,0,0.0,0.0,0,SPF00081344,0,0,0,0

* Tratar todos os nomes das famílias

In [34]:
print(df_1["family"].unique())
df_1

['Poaceae' 'Fabaceae' 'Lamiaceae' 'Myrtaceae' 'Malpighiaceae'
 'Campanulaceae' 'Moraceae' 'Convolvulaceae' 'Phyllanthaceae'
 'Erythroxylaceae' 'Brassicaceae' 'Linderniaceae' 'Heliconiaceae'
 'Araceae' 'Piperaceae' 'Asteraceae' 'Portulacaceae' 'Rubiaceae'
 'Amaranthaceae' 'Euphorbiaceae' 'Hypericaceae' 'Plantaginaceae'
 'Turneraceae' 'Boraginaceae' 'Arecaceae' 'Solanaceae' 'Ochnaceae'
 'Cyperaceae' 'Sapotaceae' 'Polygalaceae' 'Burseraceae' 'Salicaceae'
 'Annonaceae' 'Verbenaceae' 'Sapindaceae' 'Hernandiaceae' 'Lecythidaceae'
 'Malvaceae' 'Lythraceae' 'Lauraceae' 'Cactaceae' 'Rutaceae' 'Rhamnaceae'
 'Meliaceae' 'Cucurbitaceae' 'Apocynaceae' 'Chrysobalanaceae'
 'Marantaceae' 'Celastraceae' 'Melastomataceae' 'Bixaceae' 'Cabombaceae'
 'Polygonaceae' 'Capparaceae' 'Bignoniaceae' 'Menispermaceae'
 'Anacardiaceae' 'Clusiaceae' 'Santalaceae' 'Phytolaccaceae' 'Cannabaceae'
 'Dichapetalaceae' 'Proteaceae' 'Acanthaceae' 'Pontederiaceae'
 'Icacinaceae' 'Violaceae' 'Oxalidaceae' 'Combretaceae' 'Monimiaceae'
 'Eriocaulaceae' 'Passifloraceae' 'Loranthaceae' 'Bromeliaceae'
 'Liliaceae' 'Myristicaceae' 'Gentianaceae' 'Cecropiaceae' 'Aquifoliaceae'
 'Alismataceae' 'Bonnetiaceae' 'Primulaceae' 'Peraceae' 'Surianaceae'
 'Vitaceae' 'Zingiberaceae' 'Apiaceae' 'Flacourtiaceae' 'Simaroubaceae'
 'Calophyllaceae' 'Nyctaginaceae' 'Aristolochiaceae' 'Cannaceae'
 'Xyridaceae' 'Nymphaeaceae' 'Mayacaceae' 'Plumbaginaceae' 'Commelinaceae'
 'Urticaceae' 'Dioscoreaceae' 'Ranunculaceae' 'Marcgraviaceae'
 'Orchidaceae' 'Tiliaceae' 'Aspleniaceae' 'Chenopodiaceae'
 'Dennstaedtiaceae' 'Ebenaceae' 'Woodsiaceae' 'Asclepiadaceae'
 'Gesneriaceae' 'Cyatheaceae' 'Myrsinaceae' 'Thelypteridaceae'
 'Lindsaeaceae' '0' 'Trigoniaceae' 'Iridaceae' 'Passifloraceae-Turne.'
 'Lentibulariaceae' 'Leguminosae' 'Ulmaceae' 'Araliaceae' 'Humiriaceae'
 'Passifloraceae-Pass.' 'Loganiaceae' 'Blepharostomataceae'
 'Rhodymeniaceae' 'Bryophyta' 'Burmanniaceae' 'Connaraceae' 'Asparagaceae'
 'Amaryllidaceae' 'Dilleniaceae' 'Mycenaceae' 'Fungi' 'Physciaceae'
 'Hydroleaceae' 'Quiinaceae' 'Ramalinaceae' 'Elaeocarpaceae' 'Smilacaceae'
 'Cleomaceae' 'Graphidaceae' 'Lichenes' 'Lophocoleaceae' 'Molluginaceae'
 'Myxomycota' 'Begoniaceae' 'Leguminosae-Caes.' 'Lacistemataceae'
 'Leguminosae-Mim.' 'Picramniaceae' 'Dasycladaceae' 'Vochysiaceae'
 'Siphonocladaceae' 'Bryopsidaceae' 'Caryophyllaceae' 'Gyrocarpaceae'
 'Cyclanthaceae' 'Hookeriaceae' 'Cantharellaceae' 'Papilionaceae'
 'Vitacea' 'Onagraceae' 'Siparunaceae' 'Viscaceae' 'Scrophulariaceae'
 'Orobanchaceae' 'Batrachospermaceae' 'Potamogetonaceae' 'Ericaceae'
 'Caricaceae' 'Halymeniaceae' 'Corynomorphaceae' 'Codiaceae'
 'Nemalionaceae' 'Bombacaceae' 'Costaceae' 'Marattiaceae' 'Hypoxidaceae'
 'Covolvulaceae' 'Compositae' 'Leguminosae-Pap.' 'Guttiferae'
 'Hippocrateaceae' 'Goodeniaceae' 'Labiatae' 'Bartramiaceae'
 'Calymperaceae' 'Plagiochilaceae' 'Opegraphaceae' 'Loasaceae' 'Famille'
 'Pilotrichaceae' 'Balsaminaceae' 'Fabaceae-Mimo.' 'Fabaceae-Papi.'
 'Stereophyllaceae' 'Fissidentaceae' 'Meteoriaceae' 'Frulaniaceae'
 'Orthotrichaceae' 'Pterobryaceae' 'Hypnaceae' 'Schizaeaceae'
 'Vittariaceae' 'Tectariaceae' 'Bryaceae' 'Dicranaceae' 'Fabaceae-Caes.'
 'Brachytheciaceae' 'Zygophyllaceae' 'Leucodantaceae' 'Octoblepharaceae'
 'Pteridophyta' 'Olacaceae' 'Osmundaceae' 'Krameriaceae' 'Adiantaceae'
 'Fabaceae-Mimosoideae' 'Erythropalaceae' 'Hydrophyllaceae' 'Cunoniaceae'
 'Lygodiaceae' 'Metzgeriaceae' 'Neckeraceae' 'Nephrolepidaceae'
 'Phyllogoniaceae' 'Radulaceae' 'Boodleaceae' 'Polygaceae' 'Podocarpaceae'
 'Bangiaceae' 'Rhipiliaceae' 'Rhizophoraceae' 'Panicoideae' 'Ruppiaceae'
 'Salviniaceae' 'Adoxaceae' 'Sargassaceae' 'Schoepfiaceae' 'Aizoaceae'
 'Talinaceae' 'Oleaceae' 'Crassulaceae' 'Haloragaceae' 'Liagoraceae'
 'Hydrocharitaceae' 'Oscillatoriaceae' 'Matelea' 'Marsileaceae'
 'Moringaceae' 'Podostemonaceae' 'Podostemaceae' 'Musaceae' 'Myoporaceae'
 'Menyanthaceae' 'Rhizophyllidaceae' 'Papaveraceae' 'Leguminosae-Pap'
 'Fabaceae-Cerc.' 'Leguminosae-Caes' 'Typhaceae' 'Thymelaeaceae'
 'Taxaceae' 'Lythaceae' 'Gleicheniaceae' 'Alstroemeriaceae'
 'Acinetosporaceae' 'Gelidiaceae' 'Anemiaceae' 'Wrangeliaceae'
 'Ceramiaceae' 'Limnocharitaceae' 'Pentaphylacaceae' 'Parmeliaceae'
 'Theophrastaceae' 'Linaceae' 'Saccolomataceae' 'Symplocaceae'
 'Sphenocleaceae' 'Agavaceae' 'Cladophoraceae' 'Scytosiphonaceae'
 'Velloziaceae' 'Theaceae' 'Pedaliaceae' 'Lomentariaceae' 'Gigartinaceae'
 'Characeae' 'Herreriaceae' 'Asphodelaceae' 'Anadyomeniaceae'
 'Anadiomenaceae' 'Asteronemataceae' 'Calypogeiaceae' 'Rosaceae'
 'Cladoniaceae' 'Cladophora' 'Cordiaceae' 'Lamiaceae¹' 'Leguminosae-Mim'
 'Rafflesiaceae' 'Casuarinaceae' 'Caprifoliaceae' 'Leujeuneaceae'
 'Davalliaceae' 'Psathyrellaceae' 'Pterulaceae' 'Gomphaceae'
 'Targioniaceae' 'Frullaniaceae' 'Galaxauraceae' 'Arthoniaceae'
 'Tuberculatiaceae' 'Leguminosae- Mimosoideae' 'Hepaticae' 'Cuscutaceae'
 'Umbelliferae' 'Dioscoriaceae' 'Vochsyceae' 'Palmae' 'Rutenbergiaceae'
 'Thuidiaceae' 'Undesignated' 'Fabaceae (Mimosoideae)' 'Racopilaceae'
 'Halmeniaceae' 'Microteaceae' 'Malphiaceae' 'Metaxyaceae' 'Euphobiaceae'
 'Droseraceae' 'Aglaothamnion' 'Bachelotiaceae' 'Hydroleacea'
 'Notothyladaceae' 'Muntingiaceae' 'Cyatheacae' 'Delesseriaceae'
 'Athyriaceae' 'Metteniusaceae' 'Erythrotrichiaceae' 'Pylaisiadelphaceae'
 'Araliacaea' 'Ischnosiphon' 'Picrodendraceae' 'Portulaceae' 'Aneuraceae'
 'Santalacaceae' 'Xylariaceae' 'Selaginaceae' 'Lydodiaceae'
 'Cardiopteridaceae' 'Scrophulariaceae (Plantaginaceae)' 'Indet'
 'Triuridaceae' 'Opiliaceae' 'Chryaobalanaceae' 'Haemodoraceae'
 'Punicaceae' 'Rubiacea' 'Ceratophyllaceae' 'Capparacee' 'Dillenaceae'
 'Petiveriaceae' 'Cymodoceaceae' 'Indeterminada' 'Mulluginaceae']

,basisofrecord,country,stateprovince,institutioncode,collectioncode,catalognumber,kingdom,phylum,taxonclass,ordem,...,latitude,coordinateprecision,minimumelevation,maximumelevation,notes,barcode,depositor,yeardeposited,monthdeposited,daydeposited
0,PreservedSpecimen,Brasil,Alagoas,US,US,US 1255708,Plantae,0,0,0,...,0.000000,0,0.0,0.0,0,US04327705,0,0,0,0
1,PreservedSpecimen,Brasil,Alagoas,US,US,US 3222023,Plantae,0,0,0,...,-9.716700,0,200.0,200.0,0,US00421008,0,0,0,0
2,PreservedSpecimen,Brasil,Alagoas,ESALQ,ESA,092756,Plantae,Magnoliophyta,0,0,...,0.000000,0,0.0,0.0,0,ESA092756,0,0,0,0
3,PreservedSpecimen,Brasil,Alagoas,ESALQ,ESA,102654,Plantae,0,0,0,...,0.000000,0,0.0,0.0,0,ESA102654,0,0,0,0
4,PreservedSpecimen,Brasil,Alagoas,ESALQ,ESA,092750,Plantae,Magnoliophyta,0,0,...,0.000000,0,0.0,0.0,0,ESA092750,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68329,PreservedSpecimen,Brasil,Alagoas,MN,R,109082,Plantae,0,0,0,...,0.000000,0,0.0,0.0,0,0,0,0,0,0
68330,PreservedSpecimen,Brasil,Alagoas,MN,R,109091,Plantae,0,0,0,...,0.000000,0,0.0,0.0,0,0,0,0,0,0
68331,PreservedSpecimen,Brasil,Alagoas,USP,SPF,165107,Plantae,0,0,0,...,-9.248139,0,400.0,400.0,"Tree, 4 m; leaves subcoriaceous; fruits olive;...",SPF00165107,0,0,0,0
68332,PreservedSpecimen,Brasil,Alagoas,USP,SPF,81338,Plantae,0,0,0,...,-9.250000,0,0.0,0.0,Tree 3-5 m. Flowers and fruits axillary or cau...,SPF00081338,0,0,0,0
68333,PreservedSpecimen,Brasil,Alagoas,USP,SPF,81344,Plantae,0,0,0,...,-9.250000,0,0.0,0.0,0,SPF00081344,0,0,0,0

* Excluindo os nomes das famílias que não são de Angiospermas

In [35]:
df_1 = df_1[~df_1['family'].str.contains("Woodsiaceae|Cyatheaceae|Thelypteridaceae|Dennstaedtiaceae|Blepharostomataceae|Rhodymeniaceae|Bryophyta|Mycenaceae")]
df_1 = df_1[~df_1['family'].str.contains("Fungi|Physciaceae|Ramalinaceae|Graphidaceae|Lichenes|Lophocoleaceae|Myxomycota|Picramniaceae|Dasycladaceae|Siphonocladaceae")]
df_1 = df_1[~df_1['family'].str.contains("Bryopsidaceae|Gyrocarpaceae|Hookeriaceae|Cantharellaceae|Batrachospermaceae|Halymeniaceae|Corynomorphaceae|Codiaceae|Nemalionaceae")]
df_1 = df_1[~df_1['family'].str.contains("Marattiaceae|Bartramiaceae|Calymperaceae|Plagiochilaceae|Opegraphaceae|Pilotrichaceae|Stereophyllaceae|Fissidentaceae|Meteoriaceae")]
df_1 = df_1[~df_1['family'].str.contains("Frulaniaceae|Orthotrichaceae|Pterobryaceae|Hypnaceae|Schizaeaceae|Vittariaceae|Tectariaceae|Bryaceae|Dicranaceae|Brachytheciaceae")]
df_1 = df_1[~df_1['family'].str.contains("Octoblepharaceae|Pteridophyta|Osmundaceae|Adiantaceae|Lygodiaceae|Metzgeriaceae|Neckeraceae|Nephrolepidaceae|Phyllogoniaceae|Radulaceae|Boodleaceae")]
df_1 = df_1[~df_1['family'].str.contains("Bangiaceae|Rhipiliaceae|Salviniaceae|Sargassaceae|Liagoraceae|Oscillatoriaceae|Marsileaceae|Rhizophyllidaceae|Gleicheniaceae|Gelidiaceae")]
df_1 = df_1[~df_1['family'].str.contains("Anemiaceae|Wrangeliaceae|Ceramiaceae|Parmeliaceae|Saccolomataceae|Cladophoraceae|Scytosiphonaceae|Lomentariaceae|Gigartinaceae")]
df_1 = df_1[~df_1['family'].str.contains("Characeae|Anadyomeniaceae|Anadiomenaceae|Asteronemataceae|Calypogeiaceae|Cladoniaceae|Cladophora|Cordiaceae|Leujeuneaceae|Hydrophyllaceae")]
df_1 = df_1[~df_1['family'].str.contains("Davalliaceae|Psathyrellaceae|Pterulaceae|Gomphaceae|Targioniaceae|Frullaniaceae|Galaxauraceae|Arthoniaceae|Tuberculatiaceae|Taxaceae|Rafflesiaceae")]
df_1 = df_1[~df_1['family'].str.contains("Tuberculatiaceae|Hepaticae|Rutenbergiaceae|Thuidiaceae|Undesignated|Racopilaceae|Halmeniaceae|Microteaceae|Metaxyaceae|Lindsaeaceae")]
df_1 = df_1[~df_1['family'].str.contains("Aglaothamnion|Bachelotiaceae|Notothyladaceae|Muntingiaceae|Cyatheacae|Delesseriaceae|Athyriaceae|Metteniusaceae|Erythrotrichiaceae")]
df_1 = df_1[~df_1['family'].str.contains("Pylaisiadelphaceae|Ischnosiphon|Picrodendraceae|Aneuraceae|Xylariaceae|Lydodiaceae|Cymodoceaceae|Aspleniaceae|Chenopodiaceae|Leucodantaceae")]
df_1

,basisofrecord,country,stateprovince,institutioncode,collectioncode,catalognumber,kingdom,phylum,taxonclass,ordem,...,latitude,coordinateprecision,minimumelevation,maximumelevation,notes,barcode,depositor,yeardeposited,monthdeposited,daydeposited
0,PreservedSpecimen,Brasil,Alagoas,US,US,US 1255708,Plantae,0,0,0,...,0.000000,0,0.0,0.0,0,US04327705,0,0,0,0
1,PreservedSpecimen,Brasil,Alagoas,US,US,US 3222023,Plantae,0,0,0,...,-9.716700,0,200.0,200.0,0,US00421008,0,0,0,0
2,PreservedSpecimen,Brasil,Alagoas,ESALQ,ESA,092756,Plantae,Magnoliophyta,0,0,...,0.000000,0,0.0,0.0,0,ESA092756,0,0,0,0
3,PreservedSpecimen,Brasil,Alagoas,ESALQ,ESA,102654,Plantae,0,0,0,...,0.000000,0,0.0,0.0,0,ESA102654,0,0,0,0
4,PreservedSpecimen,Brasil,Alagoas,ESALQ,ESA,092750,Plantae,Magnoliophyta,0,0,...,0.000000,0,0.0,0.0,0,ESA092750,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68329,PreservedSpecimen,Brasil,Alagoas,MN,R,109082,Plantae,0,0,0,...,0.000000,0,0.0,0.0,0,0,0,0,0,0
68330,PreservedSpecimen,Brasil,Alagoas,MN,R,109091,Plantae,0,0,0,...,0.000000,0,0.0,0.0,0,0,0,0,0,0
68331,PreservedSpecimen,Brasil,Alagoas,USP,SPF,165107,Plantae,0,0,0,...,-9.248139,0,400.0,400.0,"Tree, 4 m; leaves subcoriaceous; fruits olive;...",SPF00165107,0,0,0,0
68332,PreservedSpecimen,Brasil,Alagoas,USP,SPF,81338,Plantae,0,0,0,...,-9.250000,0,0.0,0.0,Tree 3-5 m. Flowers and fruits axillary or cau...,SPF00081338,0,0,0,0
68333,PreservedSpecimen,Brasil,Alagoas,USP,SPF,81344,Plantae,0,0,0,...,-9.250000,0,0.0,0.0,0,SPF00081344,0,0,0,0

* Subistituindo o nomes das famílas para os Atuais

In [36]:
df_1['family'] = df_1['family'].replace(['Cecropiaceae'], 'Urticaceae')
df_1['family'] = df_1['family'].replace(['Myrsinaceae'], 'Primulaceae')
df_1['family'] = df_1['family'].replace(['Flacourtiaceae'], 'Salicaceae')
df_1['family'] = df_1['family'].replace(['Tiliaceae','Bombacaceae'], 'Malvaceae')
df_1['family'] = df_1['family'].replace(['Asclepiadaceae','Matelea'], 'Apocynaceae')
df_1['family'] = df_1['family'].replace(['0','Famille','Indet','Não Informada'], 'Indeterminada')
df_1['family'] = df_1['family'].replace(['Passifloraceae-Turne.'], 'Passifloraceae')
df_1['family'] = df_1['family'].replace(['Passifloraceae-Turne.','Passifloraceae-Pass.'], 'Passifloraceae')
df_1['family'] = df_1['family'].replace(['Leguminosae-Pap','Fabaceae-Cerc.','Leguminosae-Caes','Leguminosae-Mim','Leguminosae- Mimosoideae','Fabaceae (Mimosoideae)'], 'Fabaceae')
df_1['family'] = df_1['family'].replace(['Leguminosae','Leguminosae-Caes.','Leguminosae-Mim.','Papilionaceae','Leguminosae-Pap.','Fabaceae-Mimo.','Fabaceae-Papi.','Fabaceae-Caes.','Fabaceae-Mimosoideae'], 'Fabaceae')
df_1['family'] = df_1['family'].replace(['Covolvulaceae'], 'Convolvulaceae')
df_1['family'] = df_1['family'].replace(['Compositae','Umbelliferae'], 'Asteraceae')
df_1['family'] = df_1['family'].replace(['Guttiferae'], 'Clusiaceae')
df_1['family'] = df_1['family'].replace(['Hippocrateaceae'], 'Celastraceae')
df_1['family'] = df_1['family'].replace(['Labiatae','Lamiaceae¹'], 'Lamiaceae')
df_1['family'] = df_1['family'].replace(['Erythropalaceae'], 'Erythroxylaceae')
df_1['family'] = df_1['family'].replace(['Panicoideae'], 'Poaceae')
df_1['family'] = df_1['family'].replace(['Podostemonaceae'], 'Podostemaceae')
df_1['family'] = df_1['family'].replace(['Lythaceae'], 'Lythraceae')
df_1['family'] = df_1['family'].replace(['Limnocharitaceae'], 'Alismataceae')
df_1['family'] = df_1['family'].replace(['Theophrastaceae'], 'Primulaceae')
df_1['family'] = df_1['family'].replace(['Cuscutaceae'], 'Cucurbitaceae')
df_1['family'] = df_1['family'].replace(['Palmae'], 'Arecaceae')
df_1['family'] = df_1['family'].replace(['Malphiaceae'], 'Malpighiaceae')
df_1['family'] = df_1['family'].replace(['Euphobiaceae'], 'Euphorbiaceae')
df_1['family'] = df_1['family'].replace(['Selaginaceae'], 'Selaginellaceae')
df_1['family'] = df_1['family'].replace(['Scrophulariaceae (Plantaginaceae)'], 'Scrophulariaceae')
df_1['family'] = df_1['family'].replace(['Chryaobalanaceae'], 'Chrysobalanaceae')
df_1['family'] = df_1['family'].replace(['Rubiacea'], 'Rubiaceae')
df_1['family'] = df_1['family'].replace(['Dillenaceae'], 'Dilleniaceae')
df_1['family'] = df_1['family'].replace(['Petiveriaceae'], 'Phytolaccaceae')
df_1['family'] = df_1['family'].replace(['Mulluginaceae'], 'Molluginaceae')

* Tratar datas

In [37]:
import numpy as np

In [38]:
print(df_1["yearcollected"].unique())

[1924 1982 2005 1979 2001 2018 1999 1942 1940 2002 1838 1839 1997 2006
 2011 2003 2000 2017 1998 1992 1988 1993 1981    0 1987 1984 2012 1980
 2004 2015 1983 2013 1985 2016 1996 2019 1947 1986 1972 1990 2010 1994
 1954 1989 2008 2009 1967 1968 1965 1962 1958 1934 1991 2014 1900 1953
 1966 2007 1836 1955 1970 1995 1969 1978 1905 1891 1840 1977 1945 2021
 1971 1976 2022 2020 1951 1974 1957 1959 1936 1961 1973 1960 1956 1975
 1950 1939 1935 1925 1952 1930 1946 1912 1949 1866 1837 1859 1895 1944
 1964 1948 1963 1911 1929 1933 1927 1910]

- Transformando coluna INT para OBJECT

In [39]:
df_1['daycollected'] = df_1['daycollected'].astype(str)
df_1['monthcollected'] = df_1['monthcollected'].astype(str)
df_1['yearcollected'] = df_1['yearcollected'].astype(str)

- Tratando a coluna meses

In [40]:
df_1['monthcollected'] = df_1['monthcollected'].replace(['25','28','29', '30', '24', '21', '19', '22','13', '20','18', '17','14', '15','16', '26','23','27','31'], '0')

- Juntar (concatenar) as colunas de datas

In [41]:
cols = ['daycollected', 'monthcollected', 'yearcollected']
df_1['data_coleta'] = df_1[cols].apply(lambda row: '-'.join(row.values.astype(str)), axis=1)
df_1

,basisofrecord,country,stateprovince,institutioncode,collectioncode,catalognumber,kingdom,phylum,taxonclass,ordem,...,coordinateprecision,minimumelevation,maximumelevation,notes,barcode,depositor,yeardeposited,monthdeposited,daydeposited,data_coleta
0,PreservedSpecimen,Brasil,Alagoas,US,US,US 1255708,Plantae,0,0,0,...,0,0.0,0.0,0,US04327705,0,0,0,0,5-12-1924
1,PreservedSpecimen,Brasil,Alagoas,US,US,US 3222023,Plantae,0,0,0,...,0,200.0,200.0,0,US00421008,0,0,0,0,30-1-1982
2,PreservedSpecimen,Brasil,Alagoas,ESALQ,ESA,092756,Plantae,Magnoliophyta,0,0,...,0,0.0,0.0,0,ESA092756,0,0,0,0,2-0-2005
3,PreservedSpecimen,Brasil,Alagoas,ESALQ,ESA,102654,Plantae,0,0,0,...,0,0.0,0.0,0,ESA102654,0,0,0,0,9-6-1979
4,PreservedSpecimen,Brasil,Alagoas,ESALQ,ESA,092750,Plantae,Magnoliophyta,0,0,...,0,0.0,0.0,0,ESA092750,0,0,0,0,2-2-2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68329,PreservedSpecimen,Brasil,Alagoas,MN,R,109082,Plantae,0,0,0,...,0,0.0,0.0,0,0,0,0,0,0,23-7-1959
68330,PreservedSpecimen,Brasil,Alagoas,MN,R,109091,Plantae,0,0,0,...,0,0.0,0.0,0,0,0,0,0,0,23-7-1959
68331,PreservedSpecimen,Brasil,Alagoas,USP,SPF,165107,Plantae,0,0,0,...,0,400.0,400.0,"Tree, 4 m; leaves subcoriaceous; fruits olive;...",SPF00165107,0,0,0,0,2-11-2002
68332,PreservedSpecimen,Brasil,Alagoas,USP,SPF,81338,Plantae,0,0,0,...,0,0.0,0.0,Tree 3-5 m. Flowers and fruits axillary or cau...,SPF00081338,0,0,0,0,25-1-1993
68333,PreservedSpecimen,Brasil,Alagoas,USP,SPF,81344,Plantae,0,0,0,...,0,0.0,0.0,0,SPF00081344,0,0,0,0,25-1-1993

- Tratar localidades

In [42]:
print(df_1["county"].unique())

['0' 'Ipioca' 'Olaria' 'Pilar' 'Marechal Deodoro' 'Barra de São Miguel'
 'Passo do Camaragibe' 'Juquitiba' 'Pirapora' 'Monte Carmelo' 'Água Boa'
 'Maceió' 'Piranhas' 'Feliz Deserto' 'Batalha' 'Junqueiro' 'Branquinha'
 'Coruripe' 'Maragogi' 'Pão de Açúcar' 'São Miguel dos Campos' 'junqueiro'
 'Piaçabuçu' 'Murici' 'Ibateguara' 'Mata Grande' 'Flexeiras'
 'Limoeiro de Anadia' "Olho d'água do Casado" 'Joaquim Gomes' 'Arapiraca'
 'Igreja Nova' 'Porto Real do Colégio' 'São Sebastião' 'Messias'
 'União dos Palmares' 'Maravilha' 'Quebrangulo' 'Rio Largo'
 'Matriz de Camaragibe' 'Pão de Áçucar' 'Piaçabuçú' 'Piacabuçu'
 'São Luis do Quintude' 'São José da Tapera' 'Atalaia' 'Belém' 'Chã Preta'
 'Colônia Leopoldina' 'Penedo' 'São José da Lage' 'São Luis do Quitunde'
 'Taquarana' 'Traipu' "Olho D'água do Casado" 'Estrela de Alagoas'
 'Delmiro Gouveia' 'São Luis do Quintunde' 'FLEXEIRAS' 'PILAR' 'MURICÍ'
 'UNIÃO DOS PALMARES' 'SANTO ANTONIO' 'coruripe' 'MARECHAL DEODORO'
 'BARRA DE SÃO MIGUEL' 'MACEIÓ' 'PIATÃ' 'PIAÇABUÇU' 'IBATEGUARA'
 'palmeira dos indios' 'penedo' 'porto calvo' 'QUEBRANGULO'
 'SÃO MIGUEL DOS CAMPOS' 'satuba' 'Santa Cruz do Deserto'
 'Porto Real de Colégio' 'Água Branca' 'Mpio. de Marechal Deodoro'
 'Palmeira dos Índios' 'Jaramataia' 'Coqueiro Seco' 'Minador do Negrão'
 'Satuba' "Tanque D'Arca" 'Campo Alegre' 'Maribondo' 'Serra Vermelha'
 'Canabrava' 'Arapiraba' 'Sítio Jacaré' 'Girau Ponciano' 'Macéio'
 'Major Izidoro' 'Município Campo Alegre' 'Município de Coité do Noia'
 'Município de Coruripe' 'Município de Maragogi' 'Município de Satuba'
 "Olho D'Água das Flores" 'Teotônio Vilela' 'Viçosa' 'Coqueiro' 'Sergipe'
 'São Luiz do Quitunde' 'Tripu' 'Barra do São Miguel' 'Cha Preta'
 'Coité do Noia-Parreiro Velho' 'Município Rio Largo' 'Paripueira'
 'São José da Laje' "Olho d'água do casado"
 'Município de Colônia Leopoldin' 'Barra de Santo Antônio' 'Maceío'
 'Passo de Camaragibe' 'Porto Calvo' 'Santana do Ipanema' 'Capela'
 'Olho d"Água do Casado' 'Corupipe' 'Firmino Alves' 'Boca da Mata'
 'Pão de Açucar' 'São Luís do Quitunde' 'Cajueiro' 'São Luíz'
 'Santa Luzia do Norte' 'Major Isidoro' 'São Miguel dos Milagres' 'ATALIA'
 'santa cruz do deserto' 'Pão de açúcar' 'ALAGOAS' 'Pedra Talhada'
 'COLONIA LEOPOLDINA' 'MESSIAS' 'VIÇOSA' 'Dois Riachos' 'Igaci'
 "Olho d'Água do Casado" 'Ouro Branco' 'Quabrangulo' 'Ibaguatera'
 "Olho D'Água do Casado" 'S.J.da Laje' 'São Luis dom Quitunde'
 'São Jorge da Lage' 'S.J Lage' "D'água do Casado" 'São Luiz'
 'Canindé de São Francisco' 'S.J. da Lage' 'Barra de Santo Antonio'
 'São Luíz do Quitunde' 'Camaragibe' 'Olivença' 'São Miguel'
 "Olho D' Água do Casado" 'pão-de-açúcar' 'Cacimbinhas'
 'Matriz do Camaragibe' 'Ilha Grande' 'São Jóse da Tapera' 'Pão-de-açucar'
 'São Luís do Quintunde' 'Canapi' 'Feliz deserto' 'Ilha do Cachimbão'
 "Olho d'água das Flores" 'Craíbas' 'Porto de Pedras' 'Campo Grande'
 'Palestina' 'Olho d#?#Água do Casado' 'Taboleiro' 'Mar Vermelho'
 'Piaçabuçu.' 'Inhapi.' 'São Luiz do Quintude' 'Flexeiras.'
 'Limoeiro de Anadia.' 'Pariconha' 'Girau do Ponciano'
 'São Miguel dos Campos.' 'Marechal Deodoro.' 'Japaratinga'
 'São José da Tapera.' 'Coruripe.' 'Olho D#?#Água do Casado'
 'Pão de Açúcar.' 'Piranhas.' 'Japaratinga.' 'Satuba.'
 'Senador Rui Palmeira.' 'Serra da Saudinha' "Tanque d' Arca"
 "Tanque d' Arca." 'Coité do Nóia' 'Roteiro' 'Barra de São Miguel.'
 'Rio Largo.' 'Palmeira dos índios' 'Inhapi' 'Teotônio Vilela.'
 'Branquinha.' 'Porto de Pedras.' 'Novo Lino' 'Matriz do Camaragibe.'
 'Muricí' 'Traipu.' 'Poço das Trincheiras' 'Viçosa.' 'Xingó' 'Xingó.'
 "Olho D'água das Flores." 'Sta Luzia do Norte' 'Paulo Jacinto'
 "Olho d' Água das Flores." 'Pariconha.' 'Arapiraca.' 'Roteiro.'
 'Santana do Ipanema.' 'Jacaré dos Homens.' 'Palmeira dos Indios'
 'Arapica' 'Fernão Velho' 'Paripueira.' 'Jequiá da Praia' 'Igací' 'Bahia'
 'União Palmares' 'Delmiro Gouveia.' 'Monteirópolis'
 'Olho D#?#Água do Casado.' 'Paaso do Camaragibe' 'Palmeira dos Indios.'
 'Barra Nova' 'São Luiz do Quitunde.' 'Maceió.' "Tanque D'Arca." 'Pilar.'
 "Olho d'Água das Flores" 'Quebrangulo.' 'Reserva Madeiras'
 "Olho d' Água das Flores" 'Minador do Negrão.' 'Canapí' 'São Braz'
 'Igreja Nova.' 'Feliz Deserto.' 'São José da Tapera/ Boqueirão.'
 'Belo Monte' 'Teotonio Vilela' 'Ibateguara.' 'Ibategura'
 'Jirau do Ponciano' 'Jacuipe' 'Anadia' 'Maravilha.' 'Duas Barras.'
 'São Jose da Laje' 'Pão de açucar' 'Água Branca.' 'Marogogi'
 'Mata Grande.' "Olho D'água das Flores" 'Murici.'
 "Olho d' Água do Casado." 'Joaquim Gomes.' 'Minador do negrão'
 "Olho d' Água do Casado" 'Jacaré dos Homens' 'Passo de Camaragibe.'
 'União dos Palmares.' 'Jequiá da Praia.' 'Cacimbinhas.' 'Belém.'
 'Campo Alegre.' 'Coqueiro Sêco' 'Palestina.' 'Pindoba' 'Caçimbinhas'
 'Coité do Noia' 'Barra Nova.' 'Canindé do São Francisco' 'Craíbas.'
 'Flexeira' 'São José da Lage.' 'Palmeira dos Índios.'
 'Colônia de Pindorama' 'Teotônia Vilela' 'Girau do Ponciano.'
 "Tanque D'arca" 'Arapicara' 'Perto da Barra de São Miguel' 'T'
 'Cachoeira do Mirim' 'Barra de St. Antonio' 'Jaramantaia' 'monte carmelo'
 'arapiraca' 'maragogi' 'são josé da laje' 'ITAPERA'
 'Mata Grande, Boa Vista' 'Poço de Trincheiras' 'São João da Tapera'
 'Coeté do Nóia' 'Barra de Sto. Antônio faz, São Brás' 'Brasiléia'
 'São Miguel do Tapuio' 'Deodoro' 'Colônia de Leopoldina' 'Taquara'
 'Fleixeiras' 'Floriano Peixoto' 'Serra da Cachoeira' 'APA de Catolé'
 'Maragojí' 'Sâo Miguel dos Campos' 'Novo Lirio' 'Limoeiro' 'Crato'
 'Mata Murici' 'Chã-Preta' 'Alagoinhas' 'Quipapá' 'Palmeiras dos Índios'
 'São Miguel dos Campus' 'Rio Novo' 'Chã de Pilar' 'Vicência' 'Rio Lago'
 'Município de Minador do Negrão' 'São Luis do Quitunde.' 'Traipú'
 'Município de Murici' 'Couripe' 'Município de Penedo'
 'Manicípio de Murici' 'Igraja Nova' 'Bernardo Lopes' 'Maraial'
 'São Migule dos Campos' 'Campestre' 'Colonia Leopoldina'
 'Estrela de Alagoas.' 'Maragoji' 'São Bras' 'São Salvador' 'Mar vermelho'
 'São miguel dos campos' 'murici' 'Serra Grande' 'Eng. São Sebastiao'
 'Caetité' 'piaçabuçu' 'Quebrângulo' 'Funilândia'
 'São Miguel dos Campos, Estação de produção do Furado (BR)' 'Tapera'
 'Benedito Bentes' 'Plaçabuçu' 'Minador Negrão' 'Mravilhosa'
 'Campo alegra' 'Pão de áçucar' 'são josé da tapera' 'Vicosa'
 'São Luís dom Quintunde' 'Maceio' 'Recife' 'Rio das Ostras'
 'São José da Tapera (Boqueirão)' 'São José da Laje.'
 'Maceió, Fernão Velho' 'Corurupe.' 'Santana do Riacho' 'Mutange'
 'Maragogi.' 'Canapí.' 'Ibateguara-Colônia Leopoldina' 'Usina Sinimbu.'
 'Junqueiro.' "Olho D'Água do Casado." 'Barra de Sao Miguel' 'Coruipe'
 'Leopoldina' 'Monteirópolis.' 'Jaqueira' 'S.J. da Laje'
 'Quebrangulo/Lagoa do Ouro' "Olho D'Água do Casados" 'Paulo Jacinto.'
 'Batalha.' 'Muntange' 'Maceíó' 'Tabuleiro dos Martins' 'Tanque D`Arca'
 'Chã Preta.' 'Pontal da Barra' 'Jundiá' 'Dois Riachos.' 'São Gonçalo'
 'Alagoas' 'Paripuera' 'São Lourenço da Mata' 'TEOTONIO VILELA'
 'RIO LARGO' 'ARAPIRACA' 'CORURIPE' 'JUNQUEIRO' 'BARRA DE SAO MIGUEL'
 'SAO JOSE DA LAJE' 'PENEDO' 'PAO DE ACUCAR' 'IGACI' 'PIRANHAS' 'MACEIO'
 'TRAIPU' 'ROTEIRO' 'FELIZ DESERTO' 'PARIPUEIRA' 'AGUA BRANCA' 'MURICI'
 'PIACABUCU' 'PARICONHA' 'MONTEIROPOLIS' 'MARAVILHA' 'BOCA DA MATA'
 'UNIAO DOS PALMARES' 'DELMIRO GOUVEIA' 'CAPELA' 'SAO JOSE DA TAPERA'
 'MATRIZ DE CAMARAGIBE' 'NOVO LINO' 'PALMEIRA DOS INDIOS' 'PORTO CALVO'
 'SAO MIGUEL DOS CAMPOS' 'Jacuípe' "Olho d'Água do Corado"
 'S.José da Tapera' 'Satana do Ipanema' 'Canapi.' 'Santo Antônio'
 'Mar Vermelho.' 'Olho D#?#Água das Flores' 'Barra de São Miguel .'
 'Olivença.' 'Guaxuma' 'Paudalho' 'Coimbra' 'Quebrangulo/ Lagoa do Ouro'
 'S. J. da Lage' 'Piaçubuçu' 'Pindorama.' 'Rio Messias'
 'Barra de Santo Antônio.' 'São Luiz Quitunde' 'Feira de Santana' 'Mirici'
 'Olho D#?#água do Casado' 'Tanquarana' "Olho D' Água das Flores"
 'Mata Atlântica' 'Jacarecica' 'Máceio' 'Candidé do São Francisco'
 'Qurebrangulo' 'Quebra-Angelo' 'Pinhares' 'Murici / Bananeiras'
 'Pinharas' 'São Minguel dos Campos' 'Mata do Varrela'
 'Povoado Bernado Lopes/ São Miguel dos Campos' "Olho d'Agua do Casado"
 'Marechal' 'Bananeiras' 'Olho d#?#Água do casado' 'Pinhares, Cidade.'
 'Cajaíba' 'Margem de Rio' 'Minador do Negão' 'Marechal deodoro.'
 "Olho d'água das Flores." 'SATUBA' 'SANTANA DO IPANEMA'
 'PASSO DE CAMARAGIBE' 'Murici/Bananeiras' 'Quebrangolo' 'Quebra Angolo'
 'Quebra Ângelo' 'Agaci' 'Murici, Bananeiras' 'Ilha do Rio São Francisco'
 'Canidé do São Francisco' "Olho d' Água do casado" 'União de palmares'
 'Colonia de Leopoldina'
 'Olho d`Água do Casado. Faz. Capelinha/Serra da Múmia.'
 'Marcechal Deodoro'
 'Marechal deodoro, APA de Santa Rita. Sítio Beira Mar.' 'Delmiro Goveia'
 'BATALHA' 'MARIBONDO' 'PORTO DE PEDRAS' 'SAO LUIS DO QUITUNDE'
 "TANQUE D'ARCA" 'Porto das Pedras' 'Barra De São Miguel' 'Maceió Mun.'
 'Quebrangulo Mun.' 'Chá Preta' 'Rio Largo Mun.' 'Piacabucu'
 'Messias Mun.' 'Boca Da Mata' 'Barra De Santo Antonio' 'Atalaia Mun.'
 'Maçagueira' 'Barra de Santo Antônio Mun.' 'São Luís'
 'Barra de São Miguel Mun.' 'Minador do Negrão Mun.'
 'São José da Laje Mun.' 'JOAQUIM GOMES' 'Maragogi Mun.' 'União'
 'Senador Rui Palmeira' 'Igreja Nova Mun.' 'Delmiro Gouvea' 'Murici Mun.'
 'Marimbundo' "Olho d' Áua do Casado" 'São João da Laje' 'Baixa Grande'
 'Ilha do Ferro' "Olho d'Água do casado" 'Iguaci' 'Cairé'
 'Municipio são Miguel dos Campos' 'Uniaão dos Palmares'
 'Olho d#?#água do Casado' 'São Luís do Quintude' 'Delmiro-Gouveia'
 'Itabaiana' 'Vila Nova' 'Agua Branca' 'MARAGOGI' 'COQUEIRO SECO' 'VICOSA'
 'São Miguel dos Camp' "Olho D'� gua do Casado" 'Ipoioca' 'Canhotinho'
 'Flexeiras Mun.' "Olho D'Água do casado" 'Châ Preta' 'Taquarana Mun.'
 'Ibateguara - Coimbra' 'Palmeira das Índias' 'Vila Messias'
 'Margem do Rio São Francisco' 'S.J.da Lage'
 'Pão de Açúcar: margem do riacho próximo a foz com o rio São Francisco'
 'Palmeira das Índios' 'Olho d#?# Água do Casado'
 'Branquinha Usina Campo Verde' 'Ibateguara-Coimbra'
 'proximidades da margem do rio são Francisco' 'Coruripe:' 'Pilar Mun.'
 'Água Branca Mun.' 'São José da Tapera Mun.' 'Batalha Mun.'
 'Porto Real do Colégio Mun.' 'Arapiraca Mun.' 'Palmeira dos Índios Mun.'
 'Penedo Mun.' 'Limoeiro de Anadia Mun.' 'Piaçabuçu Mun.'
 'Campo Alegre Mun.' 'Coruripe Mun.' 'São Miguel dos Campos Mun.'
 'União dos Palmares Mun.' 'Branquinha Mun.' 'Ibateguara Mun.'
 'Japaratinga Mun.' 'Matriz de Camaragibe Mun.'
 'São Luís do Quitunde Mun.' 'Maribondo Mun.' 'Satuba Mun.'
 'Pão de Açúcar Mun.' 'Ilhéus' 'Conceição do Coité' 'Mata Grande Mun.'
 'Igaci Mun.' 'Chã Preta Mun.' 'Boca da Mata Mun.' 'São José'
 'Teotônio Vilela Mun.' 'Ibateguar' 'Marechal Deodoro - Praia do Fr' 'Una'
 'margem da estrada Messias-Muriá a poucos Km de Messias' 'Piaçabussú'
 'Santana do Mundaú' 'São Miguel dos campos' 'Bonito' 'Piaçabucu'
 'São Luí do Quintude' 'Corruripe' 'Lages' 'Itateguara'
 'União dos Palmeres' 'Pão de Açúcar: Riacho Grande, vegetação ciliar'
 "Olho D'água do Casado." "Tanque d'Arca" 'Major Isidoro Mun.'
 'Cacimbinhas Mun.' 'Joaquim Gomes Mun.' 'São João da Lage'
 'Olho d´Água do Casado' 'Riacho Doce']

- Colocando apenas a primeira letra maiúscula da coluna e tirando o ponto final

In [43]:
df_1['county'] = df_1['county'].str.title()
df_1['county'] = df_1['county'].str.rstrip('.')

- Excluir os nomes das localidades que não pertencem a Alagoas

In [44]:
df_1 = df_1[~df_1['county'].str.contains("Brasiléia|São Miguel Do Tapuio|Novo Lirio|Crato|Quipapá|Vicência|Bernardo Lopes|Maraial|São Salvador|Funilândia|Caetité|Recife|Rio Das Ostras|Santana Do Riacho|São Gonçalo")]
df_1 = df_1[~df_1['county'].str.contains("São Lourenço Da Mata|SPaudalho|Feira De Santana|Mata Atlântica|Candidé Do São Francisco|Quebra-Angelo|Pinhares|Pinharas|Mata Do Varrela|Pinhares, Cidade|Cajaíba|Margem De Rio|Quebra Angolo|Quebra Ângelo|SIlha Do Rio São Francisco")]
df_1 = df_1[~df_1['county'].str.contains("Canidé Do São Francisco|Baixa Grande|Cairé|Itabaiana|Vila Nova|Canhotinho|Vila Messias|Margem Do Rio São Francisco|Proximidades Da Margem Do Rio São Francisco|Ilhéus|Conceição Do Coité|Una|Bonito")]
df_1

,basisofrecord,country,stateprovince,institutioncode,collectioncode,catalognumber,kingdom,phylum,taxonclass,ordem,...,coordinateprecision,minimumelevation,maximumelevation,notes,barcode,depositor,yeardeposited,monthdeposited,daydeposited,data_coleta
0,PreservedSpecimen,Brasil,Alagoas,US,US,US 1255708,Plantae,0,0,0,...,0,0.0,0.0,0,US04327705,0,0,0,0,5-12-1924
1,PreservedSpecimen,Brasil,Alagoas,US,US,US 3222023,Plantae,0,0,0,...,0,200.0,200.0,0,US00421008,0,0,0,0,30-1-1982
2,PreservedSpecimen,Brasil,Alagoas,ESALQ,ESA,092756,Plantae,Magnoliophyta,0,0,...,0,0.0,0.0,0,ESA092756,0,0,0,0,2-0-2005
3,PreservedSpecimen,Brasil,Alagoas,ESALQ,ESA,102654,Plantae,0,0,0,...,0,0.0,0.0,0,ESA102654,0,0,0,0,9-6-1979
4,PreservedSpecimen,Brasil,Alagoas,ESALQ,ESA,092750,Plantae,Magnoliophyta,0,0,...,0,0.0,0.0,0,ESA092750,0,0,0,0,2-2-2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68329,PreservedSpecimen,Brasil,Alagoas,MN,R,109082,Plantae,0,0,0,...,0,0.0,0.0,0,0,0,0,0,0,23-7-1959
68330,PreservedSpecimen,Brasil,Alagoas,MN,R,109091,Plantae,0,0,0,...,0,0.0,0.0,0,0,0,0,0,0,23-7-1959
68331,PreservedSpecimen,Brasil,Alagoas,USP,SPF,165107,Plantae,0,0,0,...,0,400.0,400.0,"Tree, 4 m; leaves subcoriaceous; fruits olive;...",SPF00165107,0,0,0,0,2-11-2002
68332,PreservedSpecimen,Brasil,Alagoas,USP,SPF,81338,Plantae,0,0,0,...,0,0.0,0.0,Tree 3-5 m. Flowers and fruits axillary or cau...,SPF00081338,0,0,0,0,25-1-1993
68333,PreservedSpecimen,Brasil,Alagoas,USP,SPF,81344,Plantae,0,0,0,...,0,0.0,0.0,0,SPF00081344,0,0,0,0,25-1-1993

In [45]:
df_1['county'] = df_1['county'].replace(['0','T','Floriano Peixoto'], 'Não Informado')
df_1['county'] = df_1['county'].replace(['Passo Do Camaragibe'], 'Passo De Camaragibe')
df_1['county'] = df_1['county'].replace(['Matriz Do Camaragibe','Matriz De Camaragibe Mun'], 'Matriz De Camaragibe')
df_1['county'] = df_1['county'].replace(['Pão de Áçucar','Pão De Açucar','Pão-De-Açúcar','Pão-De-Açucar','Pao De Acucar','Ilha Do Ferro','Pão De Açúcar: Margem Do Riacho Próximo A Foz Com O Rio São Francisco','Pão De Açúcar Mun'], 'Pão de Açúcar')
df_1['county'] = df_1['county'].replace(['Pão De Açúcar: Riacho Grande, Vegetação Ciliar'], 'Pão de Açúcar')
df_1['county'] = df_1['county'].replace(['Piaçabuçú','Piacabuçu','Piaçabuçu.','Plaçabuçu','Piacabucu','Piaçabuçu Mun','Piaçabussú','Piaçabucu'], 'Piaçabuçu')
df_1['county'] = df_1['county'].replace(['São Luis Do Quintude','São Luis Do Quintunde','São Luiz Do Quitunde','São Luíz','São Luis Do Quitunde','São Luis Dom Quitunde'], 'São Luís Do Quitunde')
df_1['county'] = df_1['county'].replace(['São José Da Lage','S.J.Da Laje','São Jorge Da Lage','S.J Lage','S.J. Da Lage','Serra Grande','S.J. Da Laje','Sao Jose Da Laje','S. J. Da Lage','São José Da Laje Mun','São João Da Laje'], 'São José Da Laje')
df_1['county'] = df_1['county'].replace(['S.J.Da Lage','Lages','São João Da Lage'], 'São José Da Laje')
df_1['county'] = df_1['county'].replace(['Muricí','Mata Murici','Município De Murici','Manicípio De Murici','Mirici','Murici / Bananeiras','Bananeiras','Murici/Bananeiras','Murici, Bananeiras','Murici Mun'], 'Murici')
df_1['county'] = df_1['county'].replace(['Santo Antonio','Barra De Santo Antonio','Barra De St. Antonio','Barra De Sto. Antônio Faz, São Brás','Santo Antônio','Barra De Santo Antônio Mun'], 'Barra de Santo Antônio')
df_1['county'] = df_1['county'].replace(['coruripe','Município de Coruripe','Couripe','Coruripe Mun'], 'Coruripe')
df_1['county'] = df_1['county'].replace(['Mpio. De Marechal Deodoro','Marechal Deodoro.','Deodoro','Marechal','Marcechal Deodoro','Marechal Deodoro, Apa De Santa Rita. Sítio Beira Mar','Marechal Deodoro - Praia Do Fr'], 'Marechal Deodoro')
df_1['county'] = df_1['county'].replace(['Palmeira Dos Indios','Palmeiras Dos Índios','Palmeira Das Índias','Palmeira Das Índios','Palmeira Dos Índios Mun'], 'Palmeira Dos Índios')
df_1['county'] = df_1['county'].replace(['Arapiraba','Arapicara','Arapiraca Mun'], 'Arapiraca')
df_1['county'] = df_1['county'].replace(['Girau Ponciano'], 'Girau Do Ponciano')
df_1['county'] = df_1['county'].replace(['Macéio','Maceío','Taboleiro','Rio Novo','Benedito Bentes','Maceio','Maceió, Fernão Velho','Mutange','Muntange','Maceíó','Tabuleiro Dos Martins','Guaxuma','Jacarecica','Máceio','Maceió Mun'], 'Maceió')
df_1['county'] = df_1['county'].replace(['Ipoioca','Riacho Doce'], 'Maceió')
df_1['county'] = df_1['county'].replace(['Município Campo Alegre','Campo Alegra','Campo Alegre Mun'], 'Campo Alegre')
df_1['county'] = df_1['county'].replace(['Município De Coité Do Noia','Coité Do Noia-Parreiro Velho','Coeté Do Nóia'], 'Coité Do Nóia')
df_1['county'] = df_1['county'].replace(['Município De Coruripe','Corurupe','Coruipe','Pindorama','Coruripe:','Corruripe'], 'Coruripe')
df_1['county'] = df_1['county'].replace(['Município De Maragogi'], 'Maragogi')
df_1['county'] = df_1['county'].replace(['Município De Satuba','Satuba Mun'], 'Satuba')
df_1['county'] = df_1['county'].replace(['Coqueiro'], 'Coqueiro Seco')
df_1['county'] = df_1['county'].replace(['Tripu','Traipú'], 'Traipu')
df_1['county'] = df_1['county'].replace(['Barra Do São Miguel','Perto Da Barra De São Miguel','Barra De São Miguel Mun'], 'Barra De São Miguel')
df_1['county'] = df_1['county'].replace(['Cha Preta','Chã-Preta','Chá Preta','Châ Preta','Chã Preta Mun'], 'Chã Preta')
df_1['county'] = df_1['county'].replace(['Município Rio Largo'], 'Rio Largo')
df_1['county'] = df_1['county'].replace(['Município De Colônia Leopoldin','Colonia Leopoldina','Colônia De Leopoldina','Leopoldina','Colonia De Leopoldina'], 'Colônia Leopoldina')
df_1['county'] = df_1['county'].replace(['Olho D"Água Do Casado',"D'Água Do Casado","Olho D' Água Do Casado","Olho D#?#Água Do Casado","Olho D#?#Água Do Casado.","Olho D'Água Do Casados","Olho D'Água Do Corado","Olho D'Agua Do Casado"], "Olho D'Água Do Casado")
df_1['county'] = df_1['county'].replace(['Olho D`Água Do Casado. Faz. Capelinha/Serra Da Múmia',"Olho D' Áua Do Casado","Olho D'� Gua Do Casado","Olho D#?# Água Do Casado","Olho D´Água Do Casado"], "Olho D'Água Do Casado")
df_1['county'] = df_1['county'].replace(['Atalia','Atalaia Mun'], 'Atalaia')
df_1['county'] = df_1['county'].replace(['Pedra Talhada','Quabrangulo','Quebrângulo','Quebrangulo/Lagoa Do Ouro','Quebrangulo/ Lagoa Do Ouro','Qurebrangulo','Quebrangolo','Quebrangulo Mun'], 'Quebrangulo')
df_1['county'] = df_1['county'].replace(['São Luiz','São Luíz Do Quitunde','São Luís Do Quintunde','São Luiz Do Quintude','São Luís Dom Quintunde','São Luiz Quitunde','Sao Luis Do Quitunde','São Luís','São Luís Do Quintude'], 'São Luís Do Quitunde')
df_1['county'] = df_1['county'].replace(['São Luís Do Quitunde Mun','São Luí Do Quintude'], 'São Luís Do Quitunde')
df_1['county'] = df_1['county'].replace(["Tanque D' Arca"], "Tanque D'Arca")
df_1['county'] = df_1['county'].replace(['Sta Luzia Do Norte'], 'Santa Luzia Do Norte')
df_1['county'] = df_1['county'].replace(['Limoeiro De Anadia.'], 'Limoeiro De Anadia.')
df_1['county'] = df_1['county'].replace(['São Miguel'], 'São Miguel dos Campos')
df_1['county'] = df_1['county'].replace(['Flexeira','Fleixeiras','Flexeiras Mun'], 'Flexeiras')
df_1['county'] = df_1['county'].replace(['Teotônia Vilela','Teotônio Vilela Mun'], 'Teotônio Vilela')
df_1['county'] = df_1['county'].replace(['Mata Grande, Boa Vista','Mata Grande Mun'], 'Mata Grande')
df_1['county'] = df_1['county'].replace(['Poço De Trincheiras'], 'Poço Das Trincheiras')
df_1['county'] = df_1['county'].replace(['Apa De Catolé','Rio Lago','Rio Largo Mun'], 'Rio Largo')
df_1['county'] = df_1['county'].replace(['Maragojí','Maragoji','Maragogi Mun'], 'Maragogi')
df_1['county'] = df_1['county'].replace(['Sâo Miguel Dos Campos','São Miguel Dos Campus','São Migule Dos Campos','São Miguel Dos Campos, Estação De Produção Do Furado (Br)','Usina Sinimbu','São Minguel Dos Campos'], 'São Miguel Dos Campos')
df_1['county'] = df_1['county'].replace(['Povoado Bernado Lopes/ São Miguel Dos Campos','Municipio São Miguel Dos Campos','São Miguel Dos Camp','São Miguel Dos Campos Mun'], 'São Miguel Dos Campos')
df_1['county'] = df_1['county'].replace(['Limoeiro','Limoeiro De Anadia Mun'], 'Limoeiro de Anadia')
df_1['county'] = df_1['county'].replace(['Chã De Pilar','Pilar Mun'], 'Pilar')
df_1['county'] = df_1['county'].replace(['Município De Minador Do Negrão','Minador Do Negão','Minador Negrão','Minador Do Negrão Mun'], 'Minador Do Negrão')
df_1['county'] = df_1['county'].replace(['Município De Penedo','Penedo Mun'], 'Penedo')
df_1['county'] = df_1['county'].replace(['Igraja Nova','Igreja Nova Mun'], 'Igreja Nova')
df_1['county'] = df_1['county'].replace(['São Bras'], 'São Brás')
df_1['county'] = df_1['county'].replace(['Eng. São Sebastiao'], 'São Sebastião')
df_1['county'] = df_1['county'].replace(['Tapera','São José Da Tapera (Boqueirão)','Sao Jose Da Tapera','S.José Da Tapera','São José Da Tapera Mun'], 'São José da Tapera')
df_1['county'] = df_1['county'].replace(['Mravilhosa'], 'Maravilha')
df_1['county'] = df_1['county'].replace(['Vicosa'], 'Viçosa')
df_1['county'] = df_1['county'].replace(['Ibateguara-Colônia Leopoldina','Coimbra','Ibateguara - Coimbra','Ibateguara-Coimbra','Ibateguara Mun','Ibateguar'], 'Ibateguara')
df_1['county'] = df_1['county'].replace(['Tanque D`Arca'], "Tanque D'Arca")
df_1['county'] = df_1['county'].replace(['Paripuera'], 'Paripueira')
df_1['county'] = df_1['county'].replace(['Agua Branca','Água Branca Mun'], 'Água Branca')
df_1['county'] = df_1['county'].replace(['Monteiropolis'], 'Monteirópolis')
df_1['county'] = df_1['county'].replace(['Uniao Dos Palmares','União De Palmares','União','Uniaão Dos Palmares','União Dos Palmares Mun','União Dos Palmeres'], 'União Dos Palmares')
df_1['county'] = df_1['county'].replace(['Satana Do Ipanema'], 'Santana Do Ipanema')
df_1['county'] = df_1['county'].replace(['Olho D#?#Água Das Flores'], "Olho D'Água Das Flores")
df_1['county'] = df_1['county'].replace(['Rio Messias','Messias Mun','Margem Da Estrada Messias-Muriá A Poucos Km De Messias'], 'Messias')
df_1['county'] = df_1['county'].replace(['Tanquarana','Taquarana Mun'], 'Taquarana')
df_1['county'] = df_1['county'].replace(['Agaci','Iguaci','Igaci Mun'], 'Igaci')
df_1['county'] = df_1['county'].replace(['Delmiro Goveia','Delmiro Gouvea','Delmiro-Gouveia'], 'Delmiro Gouveia')
df_1['county'] = df_1['county'].replace(['Porto Das Pedras'], 'Porto De Pedras')
df_1['county'] = df_1['county'].replace(['Maçagueira'], 'Massagueira')
df_1['county'] = df_1['county'].replace(['Marimbundo'], 'Marimbondo')
df_1['county'] = df_1['county'].replace(['Branquinha Usina Campo Verde','Branquinha Mun'], 'Branquinha')
df_1['county'] = df_1['county'].replace(['Batalha Mun'], 'Batalha')
df_1['county'] = df_1['county'].replace(['Porto Real Do Colégio Mun'], 'Porto Real Do Colégio') 
df_1['county'] = df_1['county'].replace(['Japaratinga Mun'], 'Japaratinga')
df_1['county'] = df_1['county'].replace(['Maribondo Mun'], 'Maribondo')
df_1['county'] = df_1['county'].replace(['Boca Da Mata Mun'], 'Boca Da Mata')
df_1['county'] = df_1['county'].replace(['Ibateguar','Itateguara'], 'Ibateguara')
df_1['county'] = df_1['county'].replace(['Major Isidoro Mun'], 'Major Isidoro')
df_1['county'] = df_1['county'].replace(['Cacimbinhas Mun'], 'Cacimbinhas')
df_1['county'] = df_1['county'].replace(['Joaquim Gomes Mun'], 'Joaquim Gomes')

In [46]:
df_1.to_csv(r'C:\Users\mecoa\Documents\MECOALIZA\OneDrive\DISSERTACAO\cepe_al.csv', encoding='utf-8', index=False)

- Ver hábitos por espécies

In [47]:
df_2 = df_1.reindex(columns=['scientificname','notes'])
df_2

,scientificname,notes
0,Setaria parviflora,0
1,Caesalpinia sp.,0
2,Aegiphila verticillata,0
3,Blepharocalyx ramosissimus,0
4,Byrsonima verbascifolia,0
...,...,...
68329,Indigofera,0
68330,Ipomoea marcellia,0
68331,Anaxagorea dolichocarpa,"Tree, 4 m; leaves subcoriaceous; fruits olive;..."
68332,Anaxagorea dolichocarpa,Tree 3-5 m. Flowers and fruits axillary or cau...
68333,Aphelandra nitida,0

- Criando uma coluna de hábito no dataframe

In [48]:
# df_2['id'] = range(1, len(df_2) + 1)
df_2['habito'] = 'informar'
df_2

,scientificname,notes,habito
0,Setaria parviflora,0,informar
1,Caesalpinia sp.,0,informar
2,Aegiphila verticillata,0,informar
3,Blepharocalyx ramosissimus,0,informar
4,Byrsonima verbascifolia,0,informar
...,...,...,...
68329,Indigofera,0,informar
68330,Ipomoea marcellia,0,informar
68331,Anaxagorea dolichocarpa,"Tree, 4 m; leaves subcoriaceous; fruits olive;...",informar
68332,Anaxagorea dolichocarpa,Tree 3-5 m. Flowers and fruits axillary or cau...,informar
68333,Aphelandra nitida,0,informar

- Tratar as espécies com seus respectivos hábitos

In [50]:

# df_2[df_2['scientificname']=='Setaria parviflora'].apply(lambda x: len(x))
# df_2.loc[
#     (df_2['scientificname'] == 'Setaria parviflora') |
#     (df_2['scientificname'] == 'Caesalpinia sp.'),
#     (df_2['scientificname'] == 'Caesalpinia sp.'),
#     'habito'
# ] = 'multi'
# df_2.loc[df_2['scientificname'].isin('Setaria parviflora'), 'habito'] = 'batata'
# df_2.loc[df_2['scientificname']=='Caesalpinia sp.', 'habito'] = 'erva'

df_2.loc[
    df_2['scientificname']==(
        'Caesalpinia sp.' and
        'Setaria parviflora' and
        'Indigofera'
    ), 'habito'
] = 'askjdklas'

df_2

,scientificname,notes,habito
0,Setaria parviflora,0,informar
1,Caesalpinia sp.,0,informar
2,Aegiphila verticillata,0,informar
3,Blepharocalyx ramosissimus,0,informar
4,Byrsonima verbascifolia,0,informar
...,...,...,...
68329,Indigofera,0,askjdklas
68330,Ipomoea marcellia,0,informar
68331,Anaxagorea dolichocarpa,"Tree, 4 m; leaves subcoriaceous; fruits olive;...",informar
68332,Anaxagorea dolichocarpa,Tree 3-5 m. Flowers and fruits axillary or cau...,informar
68333,Aphelandra nitida,0,informar